$black: #000;
$white: #fff;

$blue: #086375;
$yellow: #eeba0b;
$very-light: #f7f7fc;

$blue-1: #05092e;
$blue-2: #171c4f;
$blue-3: #2e336b;
$blue-4: #474d85;
$blue-5: #62679d;
$blue-6: #878aab;
$blue-7: #a7a9be;
$blue-8: #c6c7d2;
$blue-9: #e3e4e8;
$blue-10: #f2f2f3;

$red: #ed5d5d;
